@page "/"

@using System.Timers

@implements IDisposable
@inject IGameStateStorageService StateService;
@inject IGameManager gameManager;

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Käpy</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" @onclick="LoadState">Lataa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" @onclick="SaveState">Tallenna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" @onclick="ResetState">Aloita alusta</a>
            </li>
        </ul>
    </div>
</nav>

@if (gameManager.State != null)
{
    <div class="row">
        <div class="col">
            @foreach (var resource in gameManager.State.ResourceAmounts)
            {
                <p>
                    @resource.Name: @resource.Amount @(gameManager.State.HasTechnology(TechnologyConfig.ResurssiMittari)
            ? $"({statistics.Get(resource.Name)}/s)"
            : "")
                </p>
                var activeBoosts = gameManager.State.GetResourceBoosts(resource.Name);
                @foreach (var boost in activeBoosts)
                {
                    <p>
                        - @boost.Name (+@boost.Amount)
                    </p>
                }

                var activeGenerators = gameManager.State.GetGenerators(resource.Name).Where(gen => gameManager.State.Resources[gen.GeneratorResourceName] > 0);
                @foreach (var generator in activeGenerators)
                {
                    <p>
                        - (@generator.GeneratorResourceName +@(generator.Amount * gameManager.State.Resources[generator.GeneratorResourceName])/@generator.TickAmount)
                    </p>
                }

            }
        </div>
        <div class="col">
            @if (gameManager.State.ResearchableTechnologies.Any() || gameManager.State.ResearchedTechnologies.Any())
            {
                <h4>Uudet teknologiat</h4>
                @foreach (var technology in gameManager.State.ResearchableTechnologies)
                {
                    <p>
                        @technology.Name
                        <button class="btn btn-primary" @onclick="() => Research(technology)">Tutki</button>
                    </p>

                }
            }
            @if (gameManager.State.ResearchedTechnologies.Any())
            {
                <h4>Tutkitut</h4>
                @foreach (var technology in gameManager.State.ResearchedTechnologies)
                {
                    <p>@technology.Name</p>
                }
            }
        </div>

    </div>
    <div class="row">

        @foreach (var resource in gameManager.State.UnlockedResources)
        {
            if (resource.CanBeBuilt(gameManager.State))
            {
                <button class="btn btn-primary" @onclick="() => IncrementResource(resource.Name)">@resource.Name</button>
            }
            else
            {
                <button class="btn btn-primary" disabled>@resource.Name</button>
            }

        }

    </div>
}
@code {

    private Statistics statistics = new Statistics();

    private Timer secTimer = new Timer(1000);

    private int tickCount = 0;


    protected override async Task OnInitializedAsync()
    {
        secTimer.Elapsed += OnTimer;
        secTimer.Enabled = true;
        await LoadState();
    }

    /// <summary>
    /// Manual click
    /// </summary>
    /// <param name="resourceName"></param>
    private void IncrementResource(string resourceName)
    {
        var amount = 1 + gameManager.State
                            .GetResourceBoosts(resourceName)
                            .Where(boost => boost.BoostType == Business.Attributes.ResourceBoostType.AddConstant)
                            .Select(boost => boost.Amount)
                            .Sum();

        IncrementResource(resourceName, amount);
    }

    private void IncrementResource(string resourceName, int amount)
    {
        gameManager.AddResource(resourceName, amount);
        statistics.AddStatistics(resourceName, amount);
        InvokeAsync(StateHasChanged);
    }

    private void Research(Technology technology)
    {
        gameManager.Research(technology);
    }

    private void OnTimer(Object source, ElapsedEventArgs e)
    {
        var maxTickCount = 10;

        tickCount++;


        var activeGenerators = gameManager.State
            .GetGenerators()
            .Where(gen => gameManager.State.Resources[gen.GeneratorResourceName] > 0)
            .Where(gen => gen.TickAmount == tickCount);
        foreach (var generator in activeGenerators)
        {
            var generatedAmount = generator.Amount * gameManager.State.Resources[generator.GeneratorResourceName];
            IncrementResource(generator.ResourceName, generatedAmount);
        }

        if (tickCount == maxTickCount)
        {
            tickCount = 0;
        }



        statistics.Clear();
        InvokeAsync(StateHasChanged);
    }

    private async Task SaveState()
    {
        await StateService.SaveStateAsync(gameManager.State);
    }

    private async Task LoadState()
    {
        var gameState = await StateService.GetStateAsync();
        gameManager.State = gameState;
    }

    private void ResetState()
    {
        gameManager.State = new GameState();
    }

    void IDisposable.Dispose()
    {
        secTimer?.Dispose();
    }
}

